<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Balance Sheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!--Reference to Style Sheet -->
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="nav-link active" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/meta/coa}"
                >Chart of Accounts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/entry}">Journal Entry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/list}">Journal Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/ledger}"
                >Account Ledger</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/tbalance}"
                >Trial Balance</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/fin/rpt/bsheet}"
                >Balance Sheet</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/rpt/istmt}"
                >Income Statement</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/oblist}"
                >Out of Balance</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Admin</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search Journals"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div th:if="${not #lists.isEmpty(chartOfAccts)}" class="container">
      <table border="1;" align="center" class="table table-bordered">
        <col width="80" />
        <col width="300" />
        <col width="150" />
        <col width="150" />
        <tr>
          <th>Account Number</th>
          <th>Account Description</th>
          <th>Account Type</th>
          <th>Statement</th>
        </tr>
        <tr th:each="chart : ${chartOfAccounts}">
          <td align="left" th:text="${chart.accountNumber}"></td>
          <td align="left" th:text="${chart.accountDescription}"></td>
          <td align="left" th:text="${chart.accountType}"></td>
          <td align="left" th:text="${chart.financialStatement}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
