<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Trial Balance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!--Reference to Style Sheet -->
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="background-color: #09a7c3"
    >
      <div class="container-fluid">
        <a class="nav-link active" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/meta/coa}"
                >Chart of Accounts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/entry}">Journal Entry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/list}">Journal Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/ledger}"
                >General Ledger</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/fin/txn/tbalance}"
                >Trial Balance</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/rpt/bsheet}">Balance Sheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/rpt/istmt}"
                >Income Statement</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/cflist}">Cash Flow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/fin/txn/oblist}"
                >Out of Balance</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search Journals"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div id="wrapper">
      <div id="header">
        <h2 align="center">Trial Balance</h2>
      </div>
      <br />
    </div>

    <div th:if="${not #lists.isEmpty(trialbalances)}" class="container">
      <table border="1;" align="center" class="table table-bordered">
        <col width="650" />
        <col width="350" />
        <col width="350" />
        <tr>
          <th>Description</th>
          <th>Debit</th>
          <th>Credit</th>
        </tr>
        <tr
          th:each="entry, lstat : ${trialbalances}"
          th:style="${entry.accountTitle == '  Totals'}? 'font-weight: bold;'"
        >
          <td align="left" th:text="${entry.accountTitle}"></td>
          <td align="right" th:text="${entry.debitAmountFmtd}"></td>
          <td align="right" th:text="${entry.creditAmountFmtd}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
